
/*preset*/
body{
  margin:0px;
  padding-bottom:20px;
}

.content{
  min-height: calc(100vh - 20px);
}

h2,h3 {
  color: #085352;
  text-align: center;
  font-size: 2em;
  font-family: Roboto;

}

p {
  font-family: sans-serif;
  font-weight: 300;
  color:#4f5352;
}

/*header*/

#logo{
  height: 50px;
  border-radius: 5px;
}

#menu{
  font-size: 1.5em;
}

#nav-bar{
  height: 64px;
  display:flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top:0px;
  z-index: 1;
  background-color: #085352;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.11), 0 3px 1px -2px rgba(0,0,0,.1);
}

/*banner*/

#background-obj {
    margin-top: -200px;
    position: absolute;
    z-index:0;
    width: 100%;
    height: 70%;
    overflow: hidden;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(173deg, #085352 15%, #063d3c 70%, #042827 94%);
}

.banner{
  height:350px;
}

.banner h1{
  color: white;
  font-family: Roboto;
  font-weight: 900;
}
.banner h3{
  color: white;
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.banner .actions{
  text-align: right;
}

#main{
  align-self: end;
  display:flex;
  margin-top: 0px;
  justify-content: end;
  position: absolute;
  z-index:0;
  width: 40%;
  height: 40%;
  overflow: hidden;
}

/*cards*/

.cards{
  margin-top:72px;
}

.card{
  margin:24px 0px;
  padding: 116px 16px 0px 16px;
  width: 416px;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25);
}

.card img{
  width: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -100px;
  padding: auto;
}

/*#open-banking{
  width: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -100px;
  padding: auto;
}*/

.card h3{
  text-align: center;
  font-size: 1.7em;
  font-family: Roboto;
  margin-bottom: 1em;
}

/*partners*/

.developers{
  text-align: center;
}

.developers img{
  text-align: center;
  width: calc(100%/4);
}

.content-dev img{
  width: 60%;
  border-radius: 8px;
  border:1px solid #dfdfdf;
  margin-right: 8px;
}

/*Partners*/

.partners{
  margin-bottom: 1em;
}

img.partners{
  filter: grayscale(100%);
  object-fit: contain;
  object-position: center;
  width: 100px;
}

.list-partners{
  width:100vw;
  padding:1em;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.11), 0 3px 1px -2px rgba(0,0,0,.1);
  
}

/*footer*/

footer{
  padding-top: 1.5em;
}

.social {
  align-self: top;
}


.social-list{
  margin-bottom:0px;
}

footer a{
  font-size:2em;
  color: #4f5352;
}

a:hover{
  color:#fdda01;
}

ul li {
  display:inline;
  list-style: none;
  padding: 20px;
}

#integrate{
  width:20%;
}

